# Node modules
node_modules/

# Logs
logs/
*.log

# dotenv environment files
.env
request.rest

# OS-specific
.DS_Store
Thumbs.db

# npm & yarn
package-lock.json
yarn.lock

# Build files
dist/
build/
